/* .point {
  position: absolute;
  left: 30px;
  top: 100px;
} */

.button {
  background-color: #428ce1; /* Green */
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 50px;
  transition: 0.5s;
}

.button:hover {
  background-color: #246ec3;
  padding: 15px 50px;
  border-radius: 30px;
}

.buttons {
  width: 40%;
  float: left;
}

.content {
  width: 60%;
  float: right;
}

.table_dark {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 18px;
  width: 640px;
  text-align: center;
  border-collapse: collapse;
  margin: 50px;
}
.table_dark th {
  color: #246ec3;
  border: 2px solid #246ec3;
  background: #c8d2ff;
  border-bottom: 2px solid red;
  padding: 12px 17px;
}
.table_dark td {
  color: #626262;
  border: 2px solid #246ec3;
  padding: 7px 17px;
}
